/deep/ .filtros {
  .dropdown-parent {
    width: 100%;

    ul li {
      width: 100%;
    }
  }

  .dropdown-menu-tabela {
    min-width: 160px;

    li {
      display: block;
      width: 100%;
      padding: 3px 0;
      clear: both;
      font-weight: 400;
      color: #292b2c;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
    }
  }

  .subtipo-input {
    float: left;
  }

  dx-select-box {
    height: 32px;
  }

  .limpar-filtros {
    color: #e95753 !important;
  }

  .dropdown-filtros {
    padding: 0;

    .filtro-data {
      padding: 5px;
    }

    button {
      width: 100%;
    }
  }

}
