<span *ngIf="filter" [hidden]="filtro.visible === false" class="filtros pull-right">

  <span *ngIf="!filtro.type || filtro.type === 'select'" class="input-group mr-10">
    <filtro-select [filtro]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></filtro-select>
  </span>

  <span *ngIf="filtro.type === 'pesquisavel'" class="mr-10" [class.input-group]="filtro.subtipo !== 'input'" [class.subtipo-input]="filtro.subtipo === 'input'">
    <filtro-pesquisavel [filtro]="filter" (callback)="selectFilter($event.filter, $event.newSelected)" (callbackMontarValores)="montarValores($event.filter, $event.processId)"
      [valorPadrao]="pesquisavelValorPadrao"></filtro-pesquisavel>
  </span>

  <span *ngIf="filtro.type === 'switch' || filtro.type === 'switch-tab'" class="mr-10">
    <filtro-switch [filtro]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></filtro-switch>
  </span>

  <span *ngIf="filtro.type === 'switch-dropdown'" static-dropdown class="keep-open btn-group mr-10" title="Columns">
    <app-filtro-switch-dropdown [filtro]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></filtro-switch-dropdown>
  </span>

  <span *ngIf="filtro.type === 'data'" static-dropdown class="keep-open btn-group mr-10" title="Columns">
    <filtro-data [filtro]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></filtro-data>
  </span>
</span>
