<span *ngIf="filter" [hidden]="filter.visible === false" class="filtros pull-right">

  <span *ngIf="!filter.type || filter.type === 'select'" class="input-group mr-10">
    <app-filter-select [filter]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></app-filter-select>
  </span>

  <span *ngIf="filter.type === 'pesquisavel'" class="mr-10" [class.input-group]="filter.subtipo !== 'input'" [class.subtipo-input]="filter.subtipo === 'input'">
    <app-filter-pesquisavel [filter]="filter" (callback)="selectFilter($event.filter, $event.newSelected)" (callbackMontarValores)="montarValores($event.filter, $event.processId)"
      [valorPadrao]="pesquisavelValorPadrao"></app-filter-pesquisavel>
  </span>

  <span *ngIf="filter.type === 'switch' || filter.type === 'switch-tab'" class="mr-10">
    <app-filter-switch [filter]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></app-filter-switch>
  </span>

  <span *ngIf="filter.type === 'switch-dropdown'" static-dropdown class="keep-open btn-group mr-10" title="Columns">
    <app-filter-switch-dropdown [filter]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></app-filter-switch-dropdown>
  </span>

  <span *ngIf="filter.type === 'data'" static-dropdown class="keep-open btn-group mr-10" title="Columns">
    <app-filter-data [filter]="filter" (callback)="selectFilter($event.filter, $event.newSelected)"></app-filter-data>
  </span>
</span>
