<!-- <input *ngIf="filter.label" type="text" class="form-control" readonly [(ngModel)]="filter.desc">
<div [class.input-group-btn]="filter.label">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {{filter.selected?.desc}}
  </button>
   <ul class="dropdown-menu">
    <li><a (click)="selectFilter(filtro)">Todos</a></li>
    <li *ngFor="let valor of filter.valores"><a (click)="selectFilter(filter, valor)">{{value.desc}}</a>
    </li>
  </ul>
</div> -->

<div class="form-group">
  <!-- <label>{{filter.desc}}</label> -->
  <select class="form-control" #select (change)="selectFilter(filter, select.value)">
    <option>Todos</option>
    <option *ngFor="let valor of filter.valores" [value]="value.value">{{value.desc}}</option>
  </select>
</div>
