<!-- <input *ngIf="filtro.label" type="text" class="form-control" readonly [(ngModel)]="filtro.desc">
<div [class.input-group-btn]="filtro.label">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {{filtro.selected?.desc}}
  </button>
   <ul class="dropdown-menu">
    <li><a (click)="selectFilter(filtro)">Todos</a></li>
    <li *ngFor="let valor of filtro.valores"><a (click)="selectFilter(filter, valor)">{{valor.desc}}</a>
    </li>
  </ul>
</div> -->

<div class="form-group">
  <!-- <label>{{filtro.desc}}</label> -->
  <select class="form-control" #select (change)="selectFilter(filter, select.value)">
    <option>Todos</option>
    <option *ngFor="let valor of filtro.valores" [value]="valor.valor">{{valor.desc}}</option>
  </select>
</div>
