<div *ngIf="!filtro.subtipo">

  <div class="dropdown-parent">
    <button type="button" class="btn btn-default dropwdown-toggle" data-toggle="dropdown">
      <i class="fa fa-calendar mr-10"></i> {{filtro.label || filtro.desc}} &nbsp;
      <i class="fa fa-caret-down"></i>
    </button>

    <ul class="dropdown-menu dropdown-filtros" role="menu">

      <li>
        <button type="button" (click)="calcularData('hoje')" class="btn btn-default" [class.active]="selecionado === 'hoje'">
          Hoje
        </button>
      </li>

      <li>
        <button type="button" (click)="calcularData('7d')" class="btn btn-default" [class.active]="selecionado === '7d'">
          7 Dias
        </button>
      </li>

      <li>
        <button type="button" (click)="calcularData('1m')" class="btn btn-default" [class.active]="selecionado === '1m'">
          1 Mês
        </button>
      </li>

      <li>
        <button type="button" (click)="selecionarPersonalizado()" class="btn btn-default" [class.active]="selecionado === 'personalizado'">
          Personalizado
        </button>
      </li>

      <div [hidden]="selecionado !== 'personalizado'">
        <li class="filtro-data">
          <p> De </p>
          <span (click)="fixDropDownDx()">
            <dx-date-box dx-data-mask [(ngModel)]="data_inicio" width="100%" type="date" timeZone="America/Sao_Paulo" dateSerializationFormat="yyyy-MM-ddTHH:mm:ssZ"
              applyValueMode="useButtons" [invalidDateMessage]="'Data inválida'" [dateOutOfRangeMessage]="'Data ultrapassada'">
            </dx-date-box>
          </span>
        </li>
        <li class="filtro-data">
          <p> à </p>
          <span (click)="fixDropDownDx()">
            <dx-date-box dx-data-mask [(ngModel)]="data_fim" width="100%" type="date" timeZone="America/Sao_Paulo" dateSerializationFormat="yyyy-MM-ddTHH:mm:ssZ"
              applyValueMode="useButtons" [invalidDateMessage]="'Data inválida'" [dateOutOfRangeMessage]="'Data ultrapassada'">
            </dx-date-box>
          </span>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="selecionaFiltro()">Filtrar</button>
        </li>
      </div>
    </ul>
  </div>
</div>

<div *ngIf="filtro.subtipo === 'select'">
  <button type="button" class="btn btn-default dropwdown-toggle" data-toggle="dropdown">
    {{filtro.label || filtro.desc}} &nbsp;
    <i class="fa fa-caret-down"></i>
  </button>

  <ul class="dropdown-menu dropdown-filtros" role="menu">
    <li *ngFor="let mes of meses" (click)="calcularData(mes)">
      <button type="button" class="btn btn-default" [class.active]="selecionado === mes">
        {{mes}}
      </button>
    </li>
  </ul>

</div>
