<div *ngIf="!filter.subtipo">

  <div class="dropdown-parent">
    <button type="button" class="btn btn-default dropwdown-toggle" data-toggle="dropdown">
      <i class="fa fa-calendar mr-10"></i> {{filter.label || filter.desc}} &nbsp;
      <i class="fa fa-caret-down"></i>
    </button>

    <ul class="dropdown-menu dropdown-filters" role="menu">

      <li>
        <button type="button" (click)="calcDate('today')" class="btn btn-default" [class.active]="selected === 'today'">
          Today
        </button>
      </li>

      <li>
        <button type="button" (click)="calcDate('7d')" class="btn btn-default" [class.active]="selected === '7d'">
          7 Days
        </but
        ton>
      </li>

      <li>
        <button type="button" (click)="calcDate('1m')" class="btn btn-default" [class.active]="selected === '1m'">
          1 Month
        </button>
      </li>

      <li>
        <button type="button" (click)="selectCustom()" class="btn btn-default" [class.active]="selected === 'custom'">
          Custom
        </button>
      </li>

      <div [hidden]="selected !== 'custom'">
        <li class="filter-data">
          <p> From </p>
          <span (click)="fixDropDownDx()">
            <dx-date-box dx-data-mask [(ngModel)]="data_inicio" width="100%" type="date" timeZone="America/Sao_Paulo" dateSerializationFormat="yyyy-MM-ddTHH:mm:ssZ"
              applyValueMode="useButtons" [invalidDateMessage]="'Invalid Date'" [dateOutOfRangeMessage]="'Out of Date'">
            </dx-date-box>
          </span>
        </li>
        <li class="filter-data">
          <p> To </p>
          <span (click)="fixDropDownDx()">
            <dx-date-box dx-data-mask [(ngModel)]="data_fim" width="100%" type="date" timeZone="America/Sao_Paulo" dateSerializationFormat="yyyy-MM-ddTHH:mm:ssZ"
              applyValueMode="useButtons" [invalidDateMessage]="'Invalid Date'" [dateOutOfRangeMessage]="'Out of Date'">
            </dx-date-box>
          </span>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="selectFilter()">Filtrar</button>
        </li>
      </div>
    </ul>
  </div>
</div>

<div *ngIf="filter.subtipo === 'select'">
  <button type="button" class="btn btn-default dropwdown-toggle" data-toggle="dropdown">
    {{filter.label || filter.desc}} &nbsp;
    <i class="fa fa-caret-down"></i>
  </button>

  <ul class="dropdown-menu dropdown-filters" role="menu">
    <li *ngFor="let month of months" (click)="calcDate(month)">
      <button type="button" class="btn btn-default" [class.active]="selected === month">
        {{month}}
      </button>
    </li>
  </ul>

</div>
