<!-- FILTROS -->
<div *ngIf="!open" class="row">
  <div class="col-12">
    <div>
      <a data-toggle="collapse" href="#{{filtrosConfig.id}}" [attr.aria-expanded]="open || false" [attr.aria-controls]="filtrosConfig.id"><i class="fa fa-filter"></i> Filtros </a>
      <a class="limpar-filtros ml-10" (click)="limparFiltros()"> <i class="fa fa-remove"></i> Limpar </a>
    </div>
  </div>
</div>

<div class="row mb-100">
  <div class="col-12 pr-0">
    <div class="collapse" [attr.id]="filtrosConfig.id" [attr.aria-expanded]="open || false" [class.show]="open">
      <span *ngFor="let filtro of filtrosConfig.filtros">
        <app-filtros [filtro]="filtro" (callback)="selecionaFiltro($event.filtro, $event.novoSelecionado)" [id]="filtrosConfig.id"></app-filtros>
      </span>
    </div>
  </div>
</div>
<!-- FIM FILTROS -->
