<div *ngIf="filter.subtipo === 'select-input'" class="input-group">

  <!-- Com valor default -->
  <dx-select-box *ngIf="valorPadrao" [items]="filter.valores" displayExpr="desc" valueExpr="valor" (onKeyUp)="filtrarPesquisa($event)"
    (onValueChanged)="selectFilter(filter, {valor: $event.value, desc: $event.value})" [searchEnabled]="true" [searchTimeout]="800"
    placeholder="Escolha..." showClearButton="true" [value]="valorPadrao"></dx-select-box>

  <!-- Sem valor default ba dum tss -->
  <dx-select-box *ngIf="!valorPadrao" [items]="filter.valores" displayExpr="desc" valueExpr="valor" (onKeyUp)="filtrarPesquisa($event)"
    (onValueChanged)="selectFilter(filter, {valor: $event.value, desc: $event.value})" [searchEnabled]="true" [searchTimeout]="800"
    placeholder="Escolha..." showClearButton="true"></dx-select-box>

</div>

<div *ngIf="filter.subtipo === 'input'">

  <div class="input-group">
    <input type="text" placeholder="Pesquisar..." (keyup)="onPesquisa($event.target.value)" class="form-control min-width-175"
      id="search-box" name="search-box">
    <div class="input-group-btn">
      <button class="btn btn-default" [class.dropdown-toggle]="filter.campos[1]" data-toggle="dropdown">
        {{label}}
      </button>
      <ul *ngIf="filter.campos[1]" class="dropdown-menu dropdown-menu-tabela">
        <li *ngFor="let campo of filter.campos" (click)="selecionarCampo(campo.column)">
          <a class="dropdown-item">{{campo.desc}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
