<button type="button" class="btn btn-default dropwdown-toggle" data-toggle="dropdown">
    <!-- <i class="fa fa-list-ul"></i> -->
    {{filter.label || filter.desc}} ({{filter.selected.desc}}) &nbsp;
    <i class="fa fa-caret-down"></i>
  </button>

<ul class="dropdown-menu dropdown-filters" role="menu">
  <li>
    <button type="button" (click)="selectFilter(filtro)" class="btn btn-default" [class.active]="filter.selected.value === ''">
            Todos
        </button>
  </li>
  <li *ngFor="let valor of filter.valores">
    <button (click)="selectFilter(filter, valor)" type="button" class="btn btn-default" [class.active]="filter.selected.value === value.value">{{value.desc}}
                          </button>
  </li>
</ul>
